# Ignore virtual environments
venv/
.venv/
env/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE configs
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# TensorFlow / Jupyter leftovers
checkpoint/
*.ipynb_checkpoints/

# Models and binary files
*.npz
models/
